@import 'fonts.sass'
@import 'font-awesome.css'
@import '../slick/slick.scss'
@import '../slick/slick-theme.scss'


$base-red: #fc7254
$base-black: #6e6e6e
$gray: #c7c7c7;
$yellow: #ffef3b
$gray: #adadad
$bg-foot: #f7f7f7

body 
	color: $base-black
	font-family: open_sansregular
section
	margin: 5% 0

.main-head
	position: relative
	height: 100vh
	padding-top: 5%
	min-height: 920px
	background: url("../img/head-bg.jpg") no-repeat bottom center
	background-size: cover
	
.main-head__logo 
	border: 4px solid $base-black
	width: 149px
	height: 54px
	font-size: 37px
	text-align: center
	color: $base-black


.head-logo__red 
	color: lighten($base-red,5%)

.main-nav
	position: relative
	text-align: right
	height: 35px

.overlay-nav
  	position: fixed
  	width: 100%
  	height: 100vh
  	top: 0
  	left: 0
  	background: rgba(0, 0, 0, 0.8)
  	text-align: center
  	display: none

.main-nav__list 
	list-style: none
	padding: 0
	margin: 10% 0 0 0

.main-nav__item
	margin: 10px 0

.main-nav__link
	margin-top: 50%
	color: #fff
	text-transform: uppercase
	text-decoration: none
	font-size: 40px
	line-height: 2.5em

.main-nav__link:hover
	text-decoration: none
	color: $base-red
	transition: all 0.3s

.close-overlay-nav
	position: fixed
	font-size: 50px
	top: 0
	right: 5%
	color: #fff
.close-overlay-nav:hover
	cursor: pointer

.nav-toogle
  position: absolute
  right: 0
  top: 0
  width: 35px
  height: 35px
.toogle-icon
	position: absolute
	right: 0
	width: 34px
	height: 4px
	background: $base-black
	border-radius: 3px

.toogle-icon::before, .toogle-icon::after
	content: ""
	display: block
	position: absolute
	left: 0
	width: 34px
	height: 4px
	background: $base-black
	border-radius: 3px
	
.toogle-icon::before
	transform: translateY(8px)

.toogle-icon::after
	transform: translateY(16px)

.nav-toogle:hover .toogle-icon::before
	transform: rotate(-45deg)
	transition: all 0.2s
.nav-toogle:hover .toogle-icon::after
	transform: rotate(45deg)
	transition: all 0.2s
.nav-toogle:hover .toogle-icon
	height: 0
	transform: rotate(90deg)
	transition: transform 0.3s


.main-title	
	margin: 5% 0

.title
	font-family: open_sanssemibold
	font-size: 50px

.head-title
	margin-bottom: 36px

.title span 
	color: $base-red

.desc
	font-size: 16px


//=======FORM========
// .form 
// 	position: absolute
// 	bottom: 0

.lid-form
	border-radius: 1px
	// width: 375px
	padding: 25px 39px
	background: #fff
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.13)


.form-title
	font-size: 20px
	margin-bottom: 56px

.form-title span
	color: $base-red
	font-weight: bold


.lid-form input
	outline: none
	border: none
	border-bottom: 1px solid $gray
	font-weight: normal
	margin-bottom: 35px
	width: 100%
	
.lid-form textarea 
	outline: none
	border: none
	border-bottom: 1px solid $gray
	width: 100%
	resize: none
	margin-bottom: 21px
.btn 
	color: #fff
	background: $base-red
	padding: 15px 64px
	border-radius: 27px
	display: block
	margin: 0 auto

.btn:hover 
	box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08)


.form-btn__next 
	font-size: 24px
	font-weight: bold

//WORK

.work-item 
	position: relative
	padding: 53px 45px	
	color: #fff
	vertical-align: middle

.work-item:hover
	box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21)

.work-item__title
	font-size: 20px
	display: block
	margin-bottom: 22px

.tomy 
	background: #4eb2f7

.fa 
	// font-size: 50px
	margin-bottom: 22px

.work-btn
	padding: 20px
	width: 90%
	position: absolute
	left: 5%
	bottom: -10%
	z-index: 2
	background: #f1f1f1
	color: $base-black
	box-shadow: 0px 0px 5px 0px rgba(20, 20, 21, 0.09)

.work-item:hover .work-btn
	box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09)


.work-btn__ico
	display: inline-block
	vertical-align: middle
	width: 12px
	height: 2px
	background: $base-black
	margin-right: 10px

.work-btn__ico::before
	content: ""
	display: block
	width: 12px
	height: 2px
	background: $base-black
	transform: rotate(90deg)

.set 
	background: #c049f8

.koire 
	background: #817eff

.lara 
	background: #f74770

.fa-camera-retro
	transform: rotate(-45deg)

//FEATUTES
.features-item
 	position: relative
 	height: 360px
 	margin-bottom: 27px

.features-item__pic
	height: 100%
	width: 100%
	background-size: cover

.signature 
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	background: rgba(0, 0, 0, 0.5)
	color: #fff
	text-align: center
	display: flex
	justify-content: center
	align-items: center
	opacity: 0
	transition: all 0.6s
.signature:hover
	opacity: 1
 	

.sign__title
	font-size: 22px

.sign__btn 
	border: none
	outline: none
	padding: 15px 35px
	border-radius: 50px
	background: $base-red
	color: #fff

//SERVICES
.services-content p
	font-size: 16px

.service__list
	list-style: none
	padding: 0
	margin: 0

.services__item
	display: block
	width: 104px
	height: 92px
	background: #fff
	border-radius: 2px
	margin: 5px auto
	text-align: center

.services__item:hover
	box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2)

.services__link
	display: block
	
.services-content__title
	position: relative
	margin-bottom: 40px
	font-size: 30px
	color: $base-black
	font-family: "open_sansregular"

.services-content__title::after
	content: ""
	display: inline-block
	position: absolute
	background: $base-red
	width: 57px
	height: 3px
	bottom: -10px
	left: 0
 


.services-btn
	display: block
	width: 237px
	margin: 40px 0 0 0
	background: #f1f1f1
	color: $base-black
	box-shadow: 0px 0px 10px 0px rgba(20, 20, 21, 0.09)

.services-btn:hover
	box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09)

.panel-default>.panel-heading h4
	color: $base-red
	font-weight: bold


//SLIDER
.feedback 
	&-box
		position: relative
		padding: 15px
		margin: 0 15px
	&-shadow
		padding: 15px
		padding-top: 64px
		box-shadow: 0 0 27px 0 rgba(20, 20, 21, 0.09)
	& p
		font-size: 17px
		padding: 0 25px
		margin-bottom: 20px
	& span
		font-weight: bold

.feedback-slider-arrows
		text-align: center
		position: absolute
		top: 50%
		height: 50px
		width: 50px
		transform: translateY(-9px)
		font-size: 18px
		padding: 20px
		box-shadow: 0 3px 14px 0 rgba(20, 20, 21, 0.28)
		border-radius: 50%

.feedback-slider-arrows:hover
		background: $base-red
		color: #fff
		cursor: pointer

.arrow-left
		left: 0
		z-index: 2
.arrow-right
		right: 0
		z-index: 2

.slick-dots
	margin-bottom: -50px

.slick-dots li.slick-active button:before
	color: transparent
	background: $base-red		
	
.slick-dots li button:before
	width: 21px
	height: 7px
	background: $gray
	border-radius: 10px
	color: transparent


.fa-star
	font-size: 15px
	color: $yellow

.feedback-pic 
	margin-bottom: 20px
	margin-bottom: -64px

.slick-active
	outline: none


	// FOOTER
.footer
	background: $bg-foot
	padding-top: 40px
	padding-bottom: 40px

.foot-btn 
  border: none
  border-radius: 27px
  background: #fff
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07)
  font-size: 16px
  color: #000
  width: 236px
  height: 53px

// MODALS

svg 
  max-width: 100%




.cd-modal 
  position: fixed
  z-index: 2
  top: 0
  left: 0
  height: 100%
  width: 100%
  visibility: hidden
  -webkit-transition: visibility 0s 0.6s
  -moz-transition: visibility 0s 0.6s
  transition: visibility 0s 0.6s

.cd-modal svg 
  position: absolute
  top: 0
  left: 0

.cd-modal svg > path 
  fill: #1f4c74

.cd-modal .modal-close 
  /* 'X' icon */
  position: absolute
  z-index: 1
  top: 20px
  right: 5%
  height: 50px
  width: 50px
  border-radius: 50%
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center
  /* image replacement */
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  -ms-transform: translateZ(0)
  -o-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  visibility: hidden
  opacity: 0
  -webkit-transform: scale(0)
  -moz-transform: scale(0)
  -ms-transform: scale(0)
  -o-transform: scale(0)
  transform: scale(0)
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s

.no-touch .cd-modal .modal-close:hover 
  background-color: rgba(0, 0, 0, 0.5)

.cd-modal.modal-is-visible 
  visibility: visible
  -webkit-transition: visibility 0s 0s
  -moz-transition: visibility 0s 0s
  transition: visibility 0s 0s

.cd-modal.modal-is-visible .modal-close 
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

.cd-modal-content 
  position: relative
  height: 100vh
  overflow-y: auto
  padding: 3em 5% 4em
  opacity: 0
  -webkit-transform: translateY(50px)
  -moz-transform: translateY(50px)
  -ms-transform: translateY(50px)
  -o-transform: translateY(50px)
  transform: translateY(50px)
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s
  transition: opacity 0.3s 0s, transform 0.3s 0s
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.cd-modal-content p 
  color: #f2f2f2;
  line-height: 1.6
  margin: 2em 0

.modal-is-visible .cd-modal-content
  opacity: 1
  -webkit-transform: translateY(0)
  -moz-transform: translateY(0)
  -ms-transform: translateY(0)
  -o-transform: translateY(0)
  transform: translateY(0)
  -webkit-overflow-scrolling: touch
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s

@media only screen and (min-width: 768px) 
  .cd-modal-content 
    padding: 3em 10% 4em
  
  .cd-modal-content p 
    font-size: 2.4rem
  



.cd-cover-layer 
  position: fixed
  z-index: 1
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-color: #f2f2f2
  visibility: hidden
  opacity: 0
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s
  -moz-transition: opacity 0.3s 0.3s, visibility 0s 0.6s
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s

.cd-cover-layer.modal-is-visible 
  opacity: 1
  visibility: visible
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s
  transition: opacity 0.3s 0s, visibility 0s 0s

.popap-1
  padding: 15px 60px
  border: 1px solid gb(1, 2, 2)
  border-radius: 27px
  background-color: rgb(255, 255, 255)
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07)
  color: #000

//   