@import 'fonts.sass'

$base-red: #fc7254;
$base-black: #6e6e6e;
$gray: #c7c7c7;

body 
	color: $base-black
	font-family: open_sansregular

.main-head
	position: relative
	height: 100vh
	min-height: 920px
	background: url("../img/head-bg.png") no-repeat center center
	background-size: cover
	


.main-head__logo 
	border: 4px solid $base-black
	width: 149px
	height: 54px
	font-size: 37px
	text-align: center
	color: $base-black


.head-logo__red 
	color: lighten($base-red,5%)

.main-nav
    height: 55px
    text-align: right

.main-nav__list 
	display: none

.nav-toogle	
	position: relative
    width: 35px

.toogle-icon
	position: absolute
	right: 0
	width: 34px
	height: 4px
	margin-top: 17px
	background: $base-black
	border-radius: 3px

.toogle-icon::before, .toogle-icon::after
	content: ""
	display: block
	position: absolute
	left: 0
	width: 34px
	height: 4px
	background: $base-black
	border-radius: 3px
	
.toogle-icon::before
	transform: translateY(8px)

.toogle-icon::after
	transform: translateY(16px)

.main-title	
	margin: 5% 0;


.title
	font-family: open_sanssemibold
	font-size: 50px
	margin-bottom: 36px

.title span 
	color: $base-red
.desc
	font-size: 16px


//=======FORM========
.lid-form
	border-radius: 1px
	width: 375px
	padding: 25px 39px
	background: #fff
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.13)


.form-title
	font-size: 20px
	margin-bottom: 56px

.form-title span
	color: $base-red
	font-weight: bold

// .lid-form label
// 	width: 100%

.lid-form input
	outline: none
	border: none
	border-bottom: 1px solid $gray
	font-weight: normal
	margin-bottom: 35px
	width: 100%
	
.lid-form textarea 
	outline: none
	border: none
	border-bottom: 1px solid $gray
	color: $gray
	width: 100%
	resize: none;
	margin-bottom: 21px
.btn 
	color: #fff
	background: $base-red
	padding: 20px 64px
	border-radius: 27px;
	display: block
	margin: 0 auto
